services:
  airflow-init:
    image: student-evaluation-airflow:latest
    container_name: airflow-init
    entrypoint: /bin/bash
    command: >
      -c "
      airflow db migrate &&
      airflow users create
      --username admin
      --password admin
      --firstname Admin
      --lastname User
      --role Admin
      --email admin@example.com
      "
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    volumes:
      - airflow_db:/opt/airflow
    restart: 'no'

  airflow-webserver:
    image: student-evaluation-airflow:latest
    container_name: airflow-webserver
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: webserver
    ports:
      - "8080:8080"
    volumes:
      - airflow_db:/opt/airflow
      - ../../airflow/dags:/opt/airflow/dags
      - ../../src:/opt/airflow/src
      - ../../sql:/opt/airflow/sql
      - ../../data:/opt/airflow/data
      - ../../logs:/opt/airflow/logs
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
    restart: always

  airflow-scheduler:
    image: student-evaluation-airflow:latest
    container_name: airflow-scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: scheduler
    volumes:
      - airflow_db:/opt/airflow
      - ../../airflow/dags:/opt/airflow/dags
      - ../../src:/opt/airflow/src
      - ../../sql:/opt/airflow/sql
      - ../../data:/opt/airflow/data
      - ../../logs:/opt/airflow/logs
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
    restart: always

volumes:
  airflow_db:
