services:
  airflow-webserver:
    image: student-evaluation-airflow:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airflow_webserver
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ../../airflow/dags:/opt/airflow/dags
      - ../../airflow/plugins:/opt/airflow/plugins
      - ../../logs:/opt/airflow/logs
      - ../../data:/opt/airflow/data
      - ../../sql:/opt/airflow/sql
      - ../../src:/opt/airflow/src
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com || true &&
      airflow webserver
      "

  airflow-scheduler:
    image: student-evaluation-airflow:latest
    container_name: airflow_scheduler
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
    volumes:
      - ../../airflow/dags:/opt/airflow/dags
      - ../../airflow/plugins:/opt/airflow/plugins
      - ../../logs:/opt/airflow/logs
      - ../../data:/opt/airflow/data
      - ../../sql:/opt/airflow/sql
      - ../../src:/opt/airflow/src
    command: airflow scheduler
